/* Navigation Menu - background */
.navigation {
    /* critical sizing and position styles */
   font-size: 1.25em;
   width: 240px;
   height: auto;
   position: fixed;
   background-color: rgba(238,174,202);
   list-style: none;
   border-radius: 10px;
   top: -300px;
   left: -40px;
   z-index: -1;
}

.active {
   top: -20px;
   z-index: 1;
}

.move-over {
   position: relative;
   right: -240px;
   transition-delay: 1s;
}

.nav-item {
   width: 200px;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   text-decoration: none;
}


a.nav-item, 
a.nav-item:visited {
   display: block;
   padding: 20px;
   background-color: rgba(238, 104, 162, 0.308);
   color: white;
   transition: color 0.2s, background 0.5s;
}


a.nav-item:hover {
   color: grey;
   background-color: rgba(238,200,202, .5);
   cursor: pointer;
}

.fa-hamburger, .navigation, fa-times {
   transition: 0.2s;
 }
 
 .fa-hamburger,
 .fa-times {
   padding: 5px;
   font-size: 3em;
   z-index: 1;
 }
 
 .fa-hamburger:hover,
 .fa-times:hover {
   cursor: pointer;

 }

 





