
 /*PAGE STYLES */

 a {
  text-decoration: none;
  color: white;
}

a:hover {
 text-decoration: underline;
}

a:visited {
 text-decoration: none;
 color: inherit;
}


.flex-container {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 80%;
 margin: 0 auto;
} 

.pageHead, img {
padding: 5px;
text-align: left;
}


#myPhoto {
border-radius: 50%;
width: 250px;
}

.social-logo {
width: 50px;
}

@media screen and (max-width: 720px) {
.flex-container {
  display: block;
}

h1 {
  font-size: 1.5rem;
}

#myPhoto {
 width: 200px;
}

p.description {
  font-size: .9rem;
}
}